body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background-color:#110e0e;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(18, 9, 9);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #9f9797;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #0f0f1b;
    color: #efe9e9;
    font-size: 3rem;
    font-weight: bold;
}
button:hover{
    background-color:#4e4e8b(45, 13, 228);
}
button:active{
    background-color: rgb(139, 139, 145);
}
.operator-btn{
    background-color: rgb(244, 102, 14);
}
.operator-btn:hover{
    background-color: rgb(107, 104, 104);
}
.operator-btn:active{
    background-color: rgb(93, 91, 91);
}
